
/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

html,
body {
    padding: 0;
    margin: 0;
    background: #fff;
    letter-spacing: 1px;
font-family: 'Montserrat', sans-serif;
}

body a {
    outline: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
}

body a:hover {
    text-decoration: none;
}

body a:focus,
a:hover {
    text-decoration: none;
}

input[type="button"],
input[type="submit"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    letter-spacing: 1px;
   font-family: 'Montserrat', sans-serif;
}
select,input[type="email"],input[type="text"],input[type=password],
input[type="button"],input[type="submit"],textarea{
   font-family: 'Montserrat', sans-serif;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	letter-spacing: 1px;
	
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}

p {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}


ul {
    margin: 0;
    padding: 0;
	list-style-type: none;
}
img {
    width: 100%;
}
/*-- //Reset-Code --*/
.about,.testimonials,.matter,.contact,.service,.service-two,.portfolio,.blog{
    padding: 5em 0;
}

.title {
    font-size: 50px;
    text-align: center;
    color: #000;
    margin-bottom: 37px;
    letter-spacing: 3px;
    font-weight: 600;
    text-transform: uppercase;

}
.clr {
    color: #fff;
}
/*.lft{    text-align: left;}
.rigt{    text-align: right;}*/
/*-- header --*/
/*-- nav --*/
.header-outs {
    background: url(../images2/b3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
	    background-attachment: fixed;
    min-height: 800px;
	position:relative;
}
.header-w3layouts {
    padding-top: 3em;
    text-align: center;
	z-index: 999;
}
.hedder-logo{display:inline-block;}
.hedder-logo h1 a {
    font-size: 44px;
    color: #f00 !important;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 2.5em 0em .5em;
    display: block;
}
.banner_social ul li {
    display: inline-block;
}
.its_social_list li a {
	padding:0px 3px; 
    color: #fff;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    line-height: 30px;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
span.fa.fa-twitter,span.fa.fa-dribbble,span.fa.fa-facebook{
    border-right: 1px solid #000;
    padding-right: 14px;
}
.its_social_list li a :hover{color:#000;}
/*--//nav --*/
/*-- Heading-1 --*/

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
/*-- //banner Slider --*/
.rslides {
  margin: 0 auto 40px;
  }

#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
  }

.rslides_tabs {
  list-style: none;
  padding: 0;
  background: rgba(0,0,0,.25);
  box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  font-size: 18px;
  list-style: none;
  margin: 0 auto 50px;
  max-width: 540px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  }

.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
  }

.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
  }

.rslides_tabs li:first-child {
  margin-left: 0;
  }

.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
  }

a {
  color: #fff;
  text-decoration: none;
  }

/* Callback example */
/*.events {
  list-style: none;
  }*/

.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
  }

.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  }

.callbacks img {
  display: block;
  position: relative;
  z-index: 1;
  height: auto;
  width: 100%;
  border: 0;
  }

/*.callbacks .caption {
  display: block;
  position: absolute;
  z-index: 2;
  font-size: 20px;
  text-shadow: none;
  color: #fff;
  background: #000;
  background: rgba(0,0,0, .8);
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 20px;
  margin: 0;
  max-width: none;
  }*/
 .slider-info{
    background:rgba(0, 0, 0, 0);
    color: #fff;
	z-index: 999;
    text-align: center;
	margin-top: 8em;
}
.slider-info h4 {
    font-weight: 400;
    color: #fff;
    font-size: 3.5em;
    letter-spacing: 3px;
}
.slider-info p {
    font-size: 17px;
    letter-spacing: 1px;
    padding: 23px 0px;
    color: #fff;
}
.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 80%;
  left: 0;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
    height: 53px;
    width: 53px;
  background:rgba(230, 230, 230, 0) url("../images/left-arrow.png") no-repeat left top;
  margin-top: -45px;
  }

.callbacks_nav:active {
  opacity: 1.0;
  }

.callbacks_nav.next {
  left: auto;
   background:rgba(230, 230, 230, 0)  url("../images/right-arrow.png") no-repeat 0px 0px;
  background-position: right top;
  right: 0;
  }
.callbacks_nav ,
.callbacks_nav.next {
background-size:40px;
}
/*#slider3-pager a {
  display: inline-block;
}

#slider3-pager img {
  float: left;
}

#slider3-pager .rslides_here a {
  background: transparent;
  box-shadow: 0 0 0 2px #666;
}

#slider3-pager a {
  padding: 0;
}--*/
/*--//banner-*/ 
/*--About-*/ 
.abut-icon-grid h4 {
    font-size: 18px;
    color: #2cbeff;
    letter-spacing: 1px;
    margin-top: 1.5em;
    text-transform: uppercase;
}
.abut-icon-grid  p {
    margin-top: 1em;
    font-size: 14px;
    color: #666666;
    letter-spacing: 1.5px;
    line-height: 25px;
}
.abut-clr-w3l:nth-child(2) {
    padding-top: 3em;
}
.img-mid-center{
    background: url(../images/a1.jpg) no-repeat 0px 0px;
	 min-height: 355px;
}
/*--//about-*/ 
/*--services-*/ 
.service{ background: url(../images/s1.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
	    position: relative;
}
/*--video--*/
.pope{
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.banner-agileits-btm {
    text-align: center;
    padding-bottom: 9em;
}
.button a {
    padding: 16px 19px;
    top: 10em;
    left: 26.5em;
    display: inline-block;
    background:rgb(44, 190, 255);
    border-radius: 55%;
    color: #ffffff;
    outline: none;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}
.button a:hover {
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
	transition:0.5s all;
}
.button span {
    font-size: 35px;
    top: 2px;
}

/*--//video-- */
.service-below-grid{
    padding-top: 9em;
}
.service-one {
    position: absolute;
    bottom: -138px;
    width: 100%;
    left: 0px;
}
.banner-agileits-btm h4 {
    font-size: 27px;
    padding: 1.5em 0em 0em;
    color: #fff;
    line-height: 34px;
}
.services-clr {
    background: #efefef;
    padding: 50px 45px 57px;
    text-align: center;
    border-bottom: 3px solid #2cbeff;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
span.banner-icon {
    color: #666666;
    font-size: 3.5em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.service-icon-grid-agile h4 {
    font-size: 18px;
    color: #2cbeff;
	text-align:center;
    letter-spacing: 1px;
    margin-top: 1.5em;
	    text-transform: uppercase;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.service-icon-grid-agile p ,.service-info-left p {
    margin-top: 1em;
    font-size: 14px;
    color: #666666;
    letter-spacing: 1.5px;
    line-height: 25px;
	text-align: center;
}
.service-info-left {
    padding: 0px;
}
.its-grid-ser:hover .service-icon-grid-agile h4 {
    color: #fff;
}
.services-clr:hover {
    background: #2cbeff;
}
.its-grid-ser:hover span.banner-icon {
    color: #000;
}
.service-two {
  background: #efefef; 
}
.service-num-left h6 {
    font-size: 25px;
    text-align: center;
    color: #fff;
    background: #2cbeff;
    width: 56px;
    height: 56px;
    margin: 0 auto;
    line-height: 57px;
    border-radius: 50px;
}
.service-info-left h4 {
    font-size: 19px;
	text-align: center;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #000;
    line-height: 34px;
}
.service-mid-grid h4 {
    font-size: 24px;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    line-height: 42px;
}
/*--//services-*/ 

/*-- gallery --*/
.portfolio{ background: url(../images/gb1.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
}
.w3layouts_gallery_grid1{
    margin:4em 0 0;
} 
.column .w3_agile_gallery_effect{
	position: relative;
}
.agileits_w3layouts_gallery_grid1.hover14 {
    padding: 1em 0;
}
a.sb {
    display: block;
}
.hover14 figure {
	overflow: hidden;
	position: relative;
}
.hover14 figure::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform:skewX(-17deg);
	-moz-transform: skewX(-17deg);
	-o-transform: skewX(-17deg);
	-ms-transform: skewX(-17deg);
	transform: skewX(-17deg);
}
.hover14 figure:hover::before {
	-webkit-animation: shine .95s;
	-moz-animation: shine .95s; 
	animation: shine .95s;
}
@keyframes shine {
	100% {
		left: 125%;
	}
}
.gallery_grid1 {
    margin: 3em 0 0;
}
.gallery_grid1.hover14 {
    padding: 1em 0;
}
/*-- //gallery --*/
/*--blog-- */
.inner-info-w3ls p span {
    color:#000;
    font-size: 14px;
    margin-right: 7px;
}
.blog-grid-w3-agileits {
    margin-bottom: 3em;
}
.blog-grid-w3-agileits:nth-child(3) {
    margin-bottom: 0px;
}
.inner-info-w3ls h6 {
    text-decoration: none;
    color: #2cbeff;
    font-size: 23px;
    letter-spacing: 1px;
    margin-bottom: .5em;
    display: block;
    line-height: 30px;
}
.inner-info-w3ls p {
    color: #f90200;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
}
.blog-img1-agileits-w3layouts a {
    background: url(../images/bg1.jpg) no-repeat 0px 0px;
}
.blog-img2-agileits-w3layouts a {
    background: url(../images/bg2.jpg) no-repeat 0px 0px;
}
.blog-img1-agileits-w3layouts a, .blog-img2-agileits-w3layouts a, .blog-img3-agileits-w3layouts a {
    background-size: cover;
    min-height: 355px;
    display: block;
-webkit-box-shadow:8px -7px 11px 5px rgba(216, 216, 216, 0.89);
-moz-box-shadow: 8px -7px 11px 5px rgba(216, 216, 216, 0.89);
box-shadow:8px -7px 11px 5px rgba(216, 216, 216, 0.89);
}
p.para-agileits {
    font-size: 16px;
    color: #777;
	font-weight: 300;
    line-height: 34px;
    padding-top: 15px;
}

a.blog-more-agile {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    border: 2px solid #ee4f4f;
    background: #ee4f4f;
    text-transform: capitalize;
    margin-top: 2em;
    font-size: 16px;
    letter-spacing: 1.5px;
    padding: 8px 20px;
    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
}
.blog-info-w3layouts {
    margin-top: 4em;
    padding: 2em 2em 2em;
    text-align: left;
}
.right-side{text-align:right;}
.bolg-bttn{margin-top:15px;}
.w3layouts_more-buttn a {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 2px;
    background-color: rgb(44, 190, 255);
    outline: none;
    padding: 10px 22px;
    border: 2px solid rgb(44, 190, 255);
}
.w3layouts_more-buttn a:hover {
    background: #fff;
    color: #000;
}
/*--//blog-- */
/*--testimonials-*/ 
.testimonials{ background: url(../images/t1.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
}
.text-image-agileits-w3layouts {
	background: url(../images/test.jpg)no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	min-height: 416px;
}
.test-name h5 {
    font-size: 15px;
    color: #2cbeff;
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 15px;
}
.test-review p {
    font-size: 16px;
    line-height: 30px;
    padding: 0px;
    letter-spacing: 1.3px;
    color:rgb(142, 139, 139);
}
.textagile p span.fa-quote-left, .textagile p span.fa-quote-right {
    font-size: 21px;
    padding: 0px 18px;
    color: #2cbeff;
}
.test-monials {
    background: #fff;
    padding: 3em 2em;
}

/*--// testimonials --*/
/*--matter-*/ 
.btnn a {
    background: #2196F3;
    color: #000;
	    display: inline-block;
    text-transform: uppercase;
    border-radius: 0;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 5px;
-webkit-box-shadow: 14px -18px 40px -17px rgba(0,0,0,0.75);
-moz-box-shadow: 14px -18px 40px -17px rgba(0,0,0,0.75);
box-shadow: 14px -18px 40px -17px rgba(0,0,0,0.75);
}
.btnn a:hover{color:#fff;}
   
.agile-info-matter h2 {
    font-size: 29px;
    text-transform: uppercase;
    text-align: center;
    color: #000;
}
.agile-info-matter p {
    font-size: 16px;
    color: rgb(142, 139, 139);
    letter-spacing: 2px;
    line-height: 26px;
    padding: 31px 113px 24px;
    text-align: center;
}
/*--//matter-*/ 
/*--contact-*/ 
.contact{ background: url(../images/c1.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
}
.contact input[type="text"], .contact input[type="email"], .contact textarea {
    color: #000;
    /* border: none; */
    padding: 1em 1em;
    border: 1px solid #000;
    font-size: 15px;
    width: 100%;
    background: rgba(255, 252, 255, 0.55);
    outline: none;
    letter-spacing: 1px;
}
.styled-input {
    margin: 2em 0 0em;
}
.styled-input:nth-child(1){
	margin-bottom:0px;
	margin-top:0px;
}
.styled-input:nth-child(2) {
		margin-bottom:0px;
	margin-top:0px;
}
::-webkit-input-placeholder { /* Chrome */
  color: #000;
}
:-ms-input-placeholder { /* IE 10+ */
  color:#000;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #000;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #000;
  opacity: 1;
}
.contact textarea {
    min-height: 12em;
    resize: none;
}
.click{
    text-align: right;
    margin: 22px 0px 0px;
}
.contact input[type="submit"] {
    color: #000;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    width: 100%;
    text-decoration: none;
    border: none;
    padding: .7em 3em;
    outline: 0;
    background: #fff;
    display: inline-block;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.contact input[type="submit"]:hover {
    color: #fff;
    background:#000;
}
.contact-icons h5 {
    font-size: 30px;
    color: #000;
    font-weight: 600;
    letter-spacing: 3px;
    text-align: left;
}
.icon_grid_left span {
    color:#2cbeff;
    font-size: 28px;
    text-align: center;
}
.icon_grid_left{text-align:center;}
.icon_grid_left, .address-gried {
    padding: 0px;
}
.footer_grid_left p, .footer_grid_left p a {
    color:#000;
    line-height: 30px;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 300;
}
.footer_grid_left p a:hover{color:#2cbeff;}
.footer_grid_left {
    text-align: left;
    margin-top: 35px;
}
.map-grid iframe {
    width: 100%;
    height: 351px;
    border: 0;
}
.contact-address-wthree {
    background: #fff;
    padding: 3em 2em;
    margin-top: 3em;
}
/*--//contact--*/
/*--footer--*/
footer {
    background:rgb(0, 0, 0);
}

footer p {
    padding: 2em 0;
    text-align: center;
    font-size: 14px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 100;
}

footer p a:hover {
    color: rgb(255, 255, 255);
}

footer p a {
    color: #fff;
    text-decoration: underline;
}

/*-- //footer--*/
/*--Move top--*/
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 26px;
    right: 2%;
    overflow: hidden;
    z-index: 999;
    width: 40px;
    height: 40px;
    border: none;
    text-indent: 100%;
    background: url("../images2/to-top.png") no-repeat 0px 0px;
    background-size: 40px;
}

#toTopHover {
    width: 40px;
    height: 40px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}
/*--//Move top--*/
/*--responsive--*/
@media(max-width:1920px){
	
}
@media(max-width:1680px){
	
}
@media(max-width:1600px){
	
}
@media(max-width:1440px){
.header-outs {
    min-height: 642px;	
}
.hedder-logo h1 a {
    font-size: 40px;
}
.slider-info {
    margin-top: 5em;
}
.slider-info h4 {
    font-size: 3em;
}
.about, .testimonials, .matter, .contact, .service, .service-two, .portfolio, .blog {
    padding: 4em 0;
}
span.banner-icon {
    font-size: 3em;
}
.title {
    font-size: 45px;
    margin-bottom: 33px;
}
.banner-agileits-btm h4 {
    font-size: 24px;
}
.button span {
    font-size: 31px;
}
.banner-agileits-btm {
    padding-bottom: 8em;
}
.service-one {
    bottom: -170px;
}
.service-num-left h6 {
    font-size: 22px;
    width: 50px;
    height: 50px;
    line-height: 53px;
}
.service-mid-grid h4 {
    font-size: 22px;
}
.inner-info-w3ls h6 {
    font-size: 21px;
}
.agile-info-matter h2 {
    font-size: 27px;
}
.contact input[type="text"], .contact input[type="email"], .contact textarea {
    padding: .8em 1em;
}
.contact-icons h5 {
    font-size: 27px;
}
.footer_grid_left p, .footer_grid_left p a {
    font-size: 15px;
    letter-spacing: 1px;
}
.icon_grid_left span {
    font-size: 24px;
}
.callbacks_nav, .callbacks_nav.next {
    background-size: 37px;
}
.callbacks_nav {
    top: 78%;
    height: 39px;
    width: 40px;
}
}
@media(max-width:1366px){
	
	.abut-icon-grid h4 ,.service-icon-grid-agile h4 {
    font-size: 16px;
	}
	.w3layouts_more-buttn a {
    font-size: 13px;
    padding: 9px 18px;
}
.contact textarea {
    min-height: 11em;
}
.agile-info-matter h2 {
    font-size: 25px;
}
.w3_agileits_ham.m_nav_ham_1_open {
    margin-top: 20px !important;
}
}

@media(max-width:1280px){
	.hedder-logo h1 a {
    font-size: 38px;
}
.slider-info h4 {
    font-size: 2.8em;
}
.slider-info p {
    font-size: 16px;
    padding: 14px 0px;
}
.title {
    font-size: 43px;
}
.banner-agileits-btm h4 {
    font-size: 22px;
}
.service-below-grid {
    padding-top: 8em;
}
.services-clr {
    padding: 39px 33px 48px;
}
.service-mid-grid h4 {
    font-size: 20px;
}
.agile-info-matter h2 {
    font-size: 23px;
}
.footer_grid_left p, .footer_grid_left p a {
    font-size: 14px;
}
.blog-info-w3layouts {
    margin-top: 2em;
}
}
@media(max-width:1080px){
.header-outs {
    min-height: 596px;
}
.abut-icon-grid h4 {
    margin-top: 1.2em;
}	
.img-mid-center {
    min-height: 342px;
}
.img-mid-center {
    background-size: 21em;
}
.service-one {
    bottom: -155px;
}
.services-clr {
    padding: 39px 31px 48px;
}
.service-icon-grid-agile p, .service-info-left p {
    margin-top: .8em;
}
.service-mid-grid h4 {
    line-height: 39px;
}
.w3layouts_gallery_grid1 {
    margin: 2em 0 0;
}
.inner-info-w3ls h6 {
    font-size: 19px;
}
p.para-agileits {
    font-size: 15px;
}
.blog-info-w3layouts {
    padding: 1.5em 1em 1em;
}
p.para-agileits {
    line-height: 31px;
}
.agile-info-matter p {
    padding: 31px 70px 24px;
}
.contact-address-wthree {
    padding: 2.5em 2em;
}
.map-grid iframe {
    height: 298px;
}
.footer_grid_left {
    margin-top: 29px;
}
}
@media(max-width:1050px){
	
.slider-info h4 {
    font-size: 2.6em;
}
.button a {
    padding: 13px 17px;
}
span.banner-icon {
    font-size: 2.7em;
}
.service-one {
    bottom: -115px;
}
.service-icon-grid-agile h4 {
    margin-top: 1.2em;
}
.about, .testimonials, .matter, .contact, .service, .service-two, .portfolio, .blog {
    padding: 3.5em 0;
}
.banner-agileits-btm h4 {
    padding: 1em 0em 0em;
}
.inner-info-w3ls p {
    font-size: 14px;
}
.test-review p {
    font-size: 15px;
}
}
@media(max-width:1024px){
.callbacks_nav, .callbacks_nav.next {
    background-size: 28px;
}

.title {
    font-size: 40px;
	    margin-bottom: 31px
}
.service-num-left h6 {
    font-size: 21px;
    line-height: 50px;
}
.blog-info-w3layouts {
    margin-top: 1.5em;
}
.w3layouts_more-buttn a {
    padding: 8px 15px;
}
.textagile p span.fa-quote-left, .textagile p span.fa-quote-right {
    font-size: 19px;
    padding: 0px 13px;
}
.btnn a {
    font-size: 14px;
}
.agile-info-matter p {
    padding: 24px 64px 21px;
	font-size: 15px;
}
.contact input[type="text"], .contact input[type="email"], .contact textarea {
    padding: .7em .9em;
}
.styled-input {
    margin: 1.5em 0 0em;
}
.contact-icons h5 {
    font-size: 25px;
}
.footer_grid_left {
    margin-top: 27px;
}
footer p {
    padding: 1.5em 0;
    letter-spacing: 1px;
}
}
@media(max-width:991px){
	.about, .testimonials, .matter, .contact, .service, .service-two, .portfolio, .blog{
    padding: 3.5em 0;
}
.service-one{padding-top:30px;}
.service-below-grid{
    padding-top: 0em;
}
.banner-agileits-btm{padding-bottom:0em;}
	.header-outs {
    min-height: 572px;
}
.slider-info p {
    padding: 12px 0px;
}
.hedder-logo h1 a {
    font-size: 36px;
}
span.fa.fa-twitter, span.fa.fa-dribbble, span.fa.fa-facebook {
    padding-right: 12px;
}
.button a {
    padding: 11px 15px;
}
.banner-agileits-btm h4 {
    font-size: 20px;
}
.its-grid-ser:nth-child(3),.its-grid-ser:nth-child(4) {
    margin-top: 32px;
}
.top-ser:nth-child(2) {
    padding: 25px 76px;
}
.service-one {
    position: initial;
}
.service-num-left {
    margin-top: 33px;
}
.service-icon-grid-agile p, .service-info-left p {
    margin-top: .7em;
}
.agileits_w3layouts_gallery_grid1.hover14 {
    padding: .7em 0;
}
.w3layouts_gallery_grid1 {
    margin: 1.5em 0 0;
}
.blog-img1-agileits-w3layouts a, 
.blog-img2-agileits-w3layouts a,
 .blog-img3-agileits-w3layouts a {
    min-height: 312px;
}
.blog-info-w3layouts {
    margin-top: 0em;
	  padding: 0em .5em .5em;
}
.test-monials {
    padding: 2em 1.5em;
}
.agile-info-matter p {
    padding: 24px 8px 21px;
}
.contact-address-wthree {
    padding: 2em 1.5em;
}
}
@media(max-width:900px){
.slider-info h4 {
    font-size: 2.4em;
}
.slider-info {
    margin-top: 4em;
}

span.banner-icon {
    font-size: 2.5em;
}
.about, .testimonials, .matter, .contact, .service, .service-two, .portfolio, .blog{
    padding: 3.3em 0;
}
.services-clr {
    padding: 35px 31px 40px;
}
.service-mid-grid h4 {
    font-size: 18px;
}
.service-info-left h4 {
    font-size: 18px;
}
.inner-info-w3ls h6 {
    font-size: 18px;
}
p.para-agileits {
    padding-top: 12px;
}
.test-name h5 {
    font-size: 14px;
    margin-top: 12px;
}
.agile-info-matter h2 {
    font-size: 21px;
}
.btnn a {
    padding: 8px 17px;
}
.icon_grid_left span {
    font-size: 21px;
}

}
@media(max-width:800px){
.header-outs {
    min-height: 527px;
}
.banner-agileits-btm h4 {
    font-size: 18px;
    line-height: 32px;
}	
.top-ser:nth-child(2) {
    padding: 21px 76px;
}
.title {
    font-size: 37px;
}
.map-grid iframe {
    height: 277px;
}
.hedder-logo h1 a {
    padding: 2.5em 0em .3em;
}
}
@media(max-width:768px){
.abut-icon-grid p {
    margin-top: .8em;
    letter-spacing: 1px;
}	
span.banner-icon {
    font-size: 2.2em;
}
.service-icon-grid-agile p, .service-info-left p {
    letter-spacing: 1px;
    line-height: 23px;
}
.bolg-bttn {
    margin-top: 7px;
}
.agile-info-matter h2 {
    font-size: 20px;
}
.textagile p span.fa-quote-left, .textagile p span.fa-quote-right {
font-size: 17px;}

.contact textarea {
    min-height: 10em;
}
.footer_grid_left {
    margin-top: 22px;
}
}
@media(max-width:767px){
	.img-mid-center {
    min-height: 531px;
	    background-size: 34em;
}
.hedder-logo h1 a {
    font-size: 33px;
}
.slider-info h4 {
    font-size: 2.2em;
}
.abut-clr-w3l:nth-child(2) {
    padding-top: 2em;
}
.top-ser:nth-child(2) {
    padding: 21px 59px;
}
.blog-img1-agileits-w3layouts a, .blog-img2-agileits-w3layouts a, .blog-img3-agileits-w3layouts a {
    min-height: 333px;
}
.blog-img1-agileits-w3layouts {
    margin-bottom: 25px;
    padding: 0px;
}
.blog-img2-agileits-w3layouts {
    margin-top: 25px;
    padding: 0px;
}
.test-monials {
    padding: 1.5em 1em;
}
.contact-icons h5 {
    font-size: 23px;
	    letter-spacing: 1px;
}
.blog-grid-w3-agileits {
    margin-bottom: 2em;
}
.footer_grid_left {
    margin-top: 22px;
}
.icon_grid_left span {
    margin-top: 14px;
}
.footer_grid_left p, .footer_grid_left p a {
    font-size: 13px;
}
.w3layouts_gallery_grid1 {
  margin: 0em 0 0; 
}
}
@media(max-width:736px){
	.hedder-logo h1 a {
    padding: 3em 0em .3em;
}
.header-outs {
    min-height: 502px;
}
.about, .testimonials, .matter, .contact, .service, .service-two, .portfolio, .blog{
    padding: 3.1em 0;
}
.abut-icon-grid h4 {
    margin-top: 1em;
}
.abut-clr-w3l:nth-child(2) {
    padding-top: 1.5em;
}
.services-clr {
    padding: 30px 19px 35px;
}
.service-num-left {
    margin-top: 25px;
}
.service-mid-grid h4 {
    line-height: 34px;
}
.service-num-left h6 {
	    line-height: 46px;
    width: 46px;
    height: 46px;	
}
.inner-info-w3ls h6 {
    font-size: 17px;
}
.agile-info-matter p {
    padding: 24px 8px 16px;
}
.contact input[type="text"], .contact input[type="email"], .contact textarea {
    font-size: 14px;
}
.contact input[type="submit"] {
    font-size: 15px;
}
.contact-address-wthree {
    padding: 1.5em 1.5em;
}

}
@media(max-width:667px){
	.slider-info {
    margin-top: 3em;
}
.w3_agileits_ham {
    margin-top: .7em;
}

.slider-info h4 {
    font-size: 2em;
    line-height: 41px;
}
.slider-info p {
    padding: 12px 0px;
}
.title {
    font-size: 35px;
}
.contact-icons h5 {
    font-size: 22px;
}
}
@media(max-width:640px){

	.hedder-logo h1 a {
    padding: .3em 0em .3em;
}
.header-outs {
    min-height: 409px;
}
.button span {
    font-size: 28px;
}
.service-icon-grid-agile h4 {
    margin-top: 1em;
}
.service-mid-grid h4 {
    font-size: 16px;
}
.top-ser:nth-child(2) {
    padding: 16px 46px;
}
.blog-grid-w3-agileits {
    margin-bottom: 1em;
}
.test-review p {
    font-size: 14px;
}
.agile-info-matter h2 {
    font-size: 18px;
}
.agile-info-matter p {
    font-size: 14px;
}
footer p {
    font-size: 13px;
}
.blog-img1-agileits-w3layouts a, .blog-img2-agileits-w3layouts a, .blog-img3-agileits-w3layouts a {
    min-height: 353px;
}
}
@media(max-width:600px){
.about, .testimonials, .matter, .contact, .service, .service-two, .portfolio, .blog{
    padding: 2.8em 0;
}
span.banner-icon {
    font-size: 2em;
}
.banner-agileits-btm h4 {
    font-size: 17px;
    line-height: 30px;
}
.service-num-left {
    margin-top: 21px;
}
p.para-agileits {
    padding-top: 8px;
}
.w3layouts_more-buttn a {
    letter-spacing: 1px;
}
}
@media(max-width:568px){
	.hedder-logo h1 a {
    padding: .5em 0em .3em;
}
.slider-info h4 {
    font-size: 1.8em;
    line-height: 37px;
}
.hedder-logo h1 a {
    font-size: 32px;
}
.title {
    margin-bottom: 30px;
}
.its-grid-ser:nth-child(2),.its-grid-ser:nth-child(3),.its-grid-ser:nth-child(4) {
    margin-top: 26px;
}
.service-num-left {
    margin-top: 0px;
    margin-bottom: 15px;
}
.inner-info-w3ls h6 {
    font-size: 16px;
}
.textagile p span.fa-quote-left, .textagile p span.fa-quote-right {
    font-size: 15px;
}
.agile-info-matter p {
    padding: 19px 8px 16px;
	letter-spacing:1px;
}
.styled-input:nth-child(1) {
    margin-bottom: 1em;
}
.styled-input {
    margin: 1em 0 0em;
} 
.address-gried {
    text-align: center;
    margin-top: 8px;
}
.icon_grid_left span {
    margin-top: 0px;
}
.footer_grid_left {
    margin-top: 11px;
}
.contact-icons h5 {
    text-align: center;
	padding-bottom:5px;
}
.contact-icons {
    margin-bottom: 25px;
}
}
@media(max-width:480px){
.header-outs {
    min-height: 404px;
}
.img-mid-center {
    min-height: 473px;
    background-size: 29em;
}
.about, .testimonials, .matter, .contact, .service, .service-two, .portfolio, .blog {
    padding: 2.5em 0;
}
.title {
    font-size: 32px;
}
.service-mid-grid h4 {
    font-size: 15px;
}
.blog-img1-agileits-w3layouts {
    margin-bottom: 20px;
}
.inner-info-w3ls h6 {
    margin-bottom: 0.3em;
}	
.contact input[type="text"], .contact input[type="email"], .contact textarea {
    font-size: 13px;
}
.contact input[type="submit"] {
    font-size: 14px;
}
.map-grid iframe {
    height: 257px;
}
.blog-img1-agileits-w3layouts a, .blog-img2-agileits-w3layouts a, .blog-img3-agileits-w3layouts a {
    min-height: 300px;
}
footer p {
    font-size: 13px;
    line-height: 26px;
}

}
@media(max-width:440px){
.its_social_list li a {
    font-size: 14px;
line-height: 18px;	}
.callbacks_nav, .callbacks_nav.next {
    background-size: 24px;
}
.img-mid-center {
    min-height: 441px;
    background-size: 26em;
}
.blog-img1-agileits-w3layouts a, .blog-img2-agileits-w3layouts a, .blog-img3-agileits-w3layouts a {
    min-height: 266px;
}
}
@media(max-width:414px){

.header-w3layouts {
    padding-top: 1em;
}
.slider-info h4 {
    letter-spacing: 2px;
}
.slider-info p {
    font-size: 15px;
}
.abut-icon-grid h4, .service-icon-grid-agile h4 {
    font-size: 15px;
}
.img-mid-center {
    min-height: 390px;
    background-size: 23em;
}
span.banner-icon {
    font-size: 1.8em;
}
.blog-img2-agileits-w3layouts {
    margin-top: 19px;
}
.blog-img1-agileits-w3layouts {
    margin-bottom: 18px;
}
.test-review p {
    line-height: 25px;
}
}
@media(max-width:384px){
	.header-outs {
    min-height: 385px;
}
.title {
    font-size: 30px;
}
.img-mid-center {
    min-height: 367px;
    background-size: 21em;
}
.abut-clr-w3l:nth-child(2) {
    padding-top: 1em;
}
.banner-agileits-btm {
    padding-bottom: 0em;
}
.button span {
    font-size: 26px;
}
.blog-img1-agileits-w3layouts a, .blog-img2-agileits-w3layouts a, .blog-img3-agileits-w3layouts a {
    min-height: 230px;
}
}
@media(max-width:375px){
.hedder-logo h1 a {
    font-size: 30px;
}
.slider-info {
    margin-top: 3em;
}
.slider-info h4 {
    font-size: 1.6em;
    line-height: 33px;
}
.header-outs {
    min-height: 347px;
}
.title {
    letter-spacing: 2px;
}
span.banner-icon {
    font-size: 1.6em;
}
.button a {
    padding: 9px 12px;
}
.service-mid-grid h4 {
    line-height: 29px;
	    font-size: 14px;
}	
.test-monials {
    padding: 1.3em 1em;
}
.agile-info-matter h2 {
    font-size: 17px;
}

}
@media(max-width:320px){

.hedder-logo h1 a {
    font-size: 28px;
    letter-spacing: 1px;
}
.slider-info h4 {
    font-size: 1.5em;
}
.slider-info p {
    font-size: 14px;
}
.img-mid-center {
    min-height: 301px;
    background-size: 18em;
}
.banner-agileits-btm h4 {
    font-size: 15px;
}
.blog-img1-agileits-w3layouts a, .blog-img2-agileits-w3layouts a, .blog-img3-agileits-w3layouts a {
    min-height: 200px;
}
.agile-info-matter h2 {
    font-size: 16px;
    line-height: 30px;
}
.contact-icons h5 {
    font-size: 20px;
}
}
/*--//responsive--*/
