
<!DOCTYPE html>
<html lang="en">

    <% include ../partials/head %>

    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
        
        <header class="c-navbar">
            <a class="c-navbar__brand" href="#!">
                <img src="/public/img/logo.png" alt="Dashboard's Logo">
            </a>
           
           <!-- Navigation items that will be collapes and toggle in small viewports -->
            <nav class="c-nav collapse" id="main-nav">
               
            </nav>
            <!-- // Navigation items  -->

            <div class="c-field has-icon-right c-navbar__search u-hidden-down@tablet u-ml-auto u-mr-small">
                <span class="c-field__icon">
                    <i class="fa fa-search"></i> 
                </span>
                
                <label class="u-hidden-visually" for="navbar-search">Search</label>
                <input class="c-input" id="navbar-search" type="text" placeholder="Search">
            </div>
            
            
            <div class="c-dropdown dropdown">
                <a  class="c-avatar c-avatar--xsmall has-dropdown dropdown-toggle" href="#" id="dropdwonMenuAvatar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="c-avatar__img" src="/public/img/avatar-72.jpg" alt="User's Profile Picture">
                </a>

                <div class="c-dropdown__menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdwonMenuAvatar">
                    <a class="c-dropdown__item dropdown-item" href="#">Edit Profile</a>
                    <a class="c-dropdown__item dropdown-item" href="#">View Activity</a>
                    <a class="c-dropdown__item dropdown-item" href="#">Manage Roles</a>
                </div>
            </div>

            <button class="c-nav-toggle" type="button" data-toggle="collapse" data-target="#main-nav">
                <span class="c-nav-toggle__bar"></span>
                <span class="c-nav-toggle__bar"></span>
                <span class="c-nav-toggle__bar"></span>
            </button><!-- // .c-nav-toggle -->
        </header>

        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="u-mv-large u-text-center">
                        <h2 class="u-mb-xsmall">Hi <%= message.user_data.username %>! Welcome back to the Dashboard.</h2>
                        <p class="u-text-mute u-h6">Check out your past searches and the content you’ve browsed in. <a href="#">View last results</a></p>
                    </div>
                </div>
            </div>
            <% (message.api_data) %>

            <div class="row">
                    <% if (message.api_data.predicted_category == 0) { %>
                        <div class="col-sm-12 col-lg-6">
                                <div class="c-card u-p-medium u-text-center u-mb-medium" data-mh="landing-cards">
            
                                    <img class="u-mb-small" src="/public/img/icon-intro1.svg" alt="iPhone icon">
            
                                    <h4 class="u-h6 u-text-bold u-mb-small">
                                            This user is very likely to be Interested in Investment Advice based on his/her attributes 
                                        <br>
                                    </br>
                                    </h4>
                                    <a class="c-btn c-btn--info" href="#">Explore Investment Options</a>
                                </div>
                            </div>
                    <% } %> 

                    <% if (message.api_data.predicted_category == 1) { %>
                        <div class="col-sm-12 col-lg-6">
                                <div class="c-card u-p-medium u-text-center u-mb-medium" data-mh="landing-cards">
            
                                    <img class="u-mb-small" src="/public/img/icon-intro1.svg" alt="iPhone icon">
            
                                    <h4 class="u-h6 u-text-bold u-mb-small">
                                            This user is very likely to be Interested in Loan Offerings based on his/her attributes
                                        <br>
                                    </br>
                                    </h4>
                                    <a class="c-btn c-btn--info" href="#">Explore Investment Options</a>
                                </div>
                            </div>
                    <% } %> 
               
            </div>

            <div class="row u-mt-small">
                <div class="col-lg-6">
                    <h3 class="u-mb-small">What your Data says about you</h3>
                    
                    <div class="c-card c-overview-card u-p-medium u-mb-medium">
                        <div class="row">
                            <div class="col-4 u-border-right">
                                <div class="c-overview-card__section">
                                    <h3 class="u-mb-zero">801, 523</h3>
                                    <p class="u-text-mute u-mb-small">Total Transactions</p>
                                    <canvas id="js-chart-newsletters" width="300" height="250"></canvas>
                                </div>
                            </div>

                            <div class="col-4 u-border-right">
                                <div class="c-overview-card__section">
                                    <h3 class="u-mb-zero">801, 523</h3>
                                    <p class="u-text-mute u-mb-small">Total number of Withdrawals</p>
                                    <canvas id="js-chart-subscribers" width="300" height="250"></canvas>
                                </div>
                                
                            </div>

                            <div class="col-4">
                                <div class="c-overview-card__section">
                                    <h3 class="u-mb-zero">801, 523</h3>
                                    <p class="u-text-mute u-mb-small">Total Loans Acquired</p>
                                    <canvas id="js-chart-conversion" width="300" height="250"></canvas>
                                </div>
                            </div>
                        </div>

                        <span class="c-divider u-mv-medium u-opacity-medium"></span>

                        <div class="row">
                            <div class="col-6 col-md-3 u-border-right">
                                <div class="c-overview-card__section">
                                    <p class="u-text-mute u-nospace">Credit Rate</p>
                                    <h3 class="u-nospace">32.21%</h3>

                                    <div class="c-progress c-progress--info c-progress--small u-mb-zero">
                                        <div class="c-progress__bar" style="width:15%;"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-md-3 u-border-right">
                                <div class="c-overview-card__section">
                                    <p class="u-text-mute u-nospace">Debit Rate</p>
                                    <h3 class="u-nospace">75.21%</h3>

                                    <div class="c-progress c-progress--info c-progress--small u-mb-zero">
                                        <div class="c-progress__bar" style="width:75.21%;"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-md-3">
                                <div class="c-overview-card__section">
                                    <p class="u-text-mute u-nospace">Savings Rate</p>
                                    <h3 class="u-nospace">63.45%</h3>

                                    <div class="c-progress c-progress--info c-progress--small u-mb-zero">
                                        <div class="c-progress__bar" style="width:63.45%;"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-md-3 u-border-left">
                                <div class="c-overview-card__section">
                                    <p class="u-text-mute u-nospace">Credit Score</p>
                                    <h3 class="u-nospace">72.4%</h3>

                                    <div class="c-progress c-progress--success c-progress--small u-mb-zero">
                                        <div class="c-progress__bar" style="width:72.4%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-6 u-mr-auto u-mb-medium">
                    <div class="c-card u-p-medium" data-mh="main-graphs" style="height: 474px;">

                        <h3 class="u-mb-small">Your Ratings</h3>

                        <p class="u-mb-xsmall">
                            <i class="fa fa-circle-o u-color-info u-mr-xsmall"></i> Loan Return Viability

                            <span class="u-float-right u-text-mute">
                                300
                            </span>
                        </p>
                        <div class="c-progress c-progress--info u-mb-medium">
                            <div class="c-progress__bar" style="width:33%;"></div>
                        </div>

                        <p class="u-mb-xsmall">
                            <i class="fa fa-circle-o u-color-fancy u-mr-xsmall"></i> Ability to take Risk

                            <span class="u-float-right u-text-mute">
                                252
                            </span>
                        </p>
                        <div class="c-progress c-progress--fancy u-mb-medium">
                            <div class="c-progress__bar" style="width:78%;"></div>
                        </div>

                        <p class="u-mb-xsmall">
                            <i class="fa fa-circle-o u-color-success u-mr-xsmall"></i> Fraud & Scam Resistance

                            <span class="u-float-right u-text-mute">
                                149
                            </span>
                        </p>
                        <div class="c-progress c-progress--success u-mb-medium">
                            <div class="c-progress__bar" style="width:60%;"></div>
                        </div>

                        <p class="u-mb-xsmall">
                            <i class="fa fa-circle-o u-color-warning u-mr-xsmall"></i> Business Loan Viability 

                            <span class="u-float-right u-text-mute">
                                98
                            </span>
                        </p>
                        <div class="c-progress c-progress--warning u-mb-medium">
                            <div class="c-progress__bar" style="width:35%;"></div>
                        </div>

                        <div class="u-flex u-justify-between u-pt-small u-border-top">
                            <span class="u-text-mute u-text-small u-opacity-heavy">0</span>
                            <span class="u-text-mute u-text-small u-opacity-heavy">100</span>
                            <span class="u-text-mute u-text-small u-opacity-heavy">200</span>
                            <span class="u-text-mute u-text-small u-opacity-heavy">300</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main javascsript -->
        <script src="/public/js/main.min.js"></script>
    </body>
</html>