
<!DOCTYPE html>
<html lang="en">

    <% include ../partials/head %>


<body class="o-page o-page--center">
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <div class="o-page__card">
        <div class="c-card u-mb-xsmall">
            <header class="c-card__header u-pt-large">
                <a class="c-card__icon" href="#!">
                    <img src="/public/img/logo-login.svg" alt="Dashboard UI Kit">
                </a>
                <h1 class="u-h3 u-text-center u-mb-zero">Let's Get Started</h1>
                <% if (message.error_msg) { %>
                    <div class="alert alert-danger">
                        <strong style="color: red">Oops! Something went wrong</strong>
                            <p style="color: red"><%= message.error_msg %></p>
                    </div>
                <% } %>    
                 <% if (message.success_msg) { %>
                    <div class="alert alert-success">
                            <p style="color: green"><%= message.success_msg %></p>
                    </div>
                <% } %>    
                 <% if (message.info_msg) { %>
                    <div class="alert alert-info">
                            <p><%= message.info_msg %></p>
                    </div>
                <% } %>    
            </header>
            
            <form class="c-card__body" action="/home" method="post">


                <div class="c-field u-mb-small">
                    <label class="c-field__label" for="input1">Account Number</label> 
                    <input class="c-input" type="number" name="account_number" id="input1" placeholder=""> 
                </div>

                <div class="c-field u-mb-small">
                    <label class="c-field__label" for="input1">Amount</label> 
                    <input class="c-input" type="number" name="amount" id="input1" placeholder=""> 
                </div>

                <div class="c-field u-mb-small">
                    <label class="c-field__label" for="input1">Month</label> 
                    <input class="c-input" type="number" name="month" id="input1" placeholder=""> 
                </div>

                <div class="c-field u-mb-small">
                    <label class="c-field__label" for="input1">Balance</label> 
                    <input class="c-input" type="number" name="balance" id="input1" placeholder=""> 
                </div>


                <div class="c-field u-mb-small">
                    <label class="c-field__label" for="input1">Day</label> 
                    <input class="c-input" type="number" id="input1" placeholder="" name="day" > 
                </div>

                <div class="c-field u-mb-small">
                    <label class="c-field__label" for="input2">Age</label> 
                    <input class="c-input" type="number" id="input2" placeholder="" name="age"> 
                </div>

                <div class="c-field u-mb-small">
                    <label class="c-field__label" for="input3">Spend Power</label> 
                    <input class="c-input" type="number" id="input3" placeholder="" name="spend_power"> 
                </div>

                <button class="c-btn c-btn--info c-btn--fullwidth" type="submit">Find Segment</button>

            </form>
        </div>
    
    </div>

    <script src="/public/js/main.min.js"></script>
</body>
</html>