<!--A Design by W3layouts
   Author: W3layout
   Author URL: http://w3layouts.com
   License: Creative Commons Attribution 3.0 Unported
   License URL: http://creativecommons.org/licenses/by/3.0/
   -->
<!DOCTYPE html>
<html lang="zxx">
   <head>
      <title> Active Bias | Data Analytics Platform</title>
      <!--meta tags -->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="Excess Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
      <script>
         addEventListener("load", function () {
         	setTimeout(hideURLbar, 0);
         }, false);
         
         function hideURLbar() {
         	window.scrollTo(0, 1);
         }
      </script>
      <!--//meta tags ends here-->
      <!--booststrap-->
      <link href="/public/css2/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
      <!--//booststrap end-->
      <!-- font-awesome icons -->
      <link href="/public/css2/font-awesome.css" rel="stylesheet">
      <!-- //font-awesome icons -->
      <!-- Nav-CSS -->	
	    <link rel="stylesheet" href="css2/main.css">
      <!-- //Nav-CSS -->
      <link href="/public/css2/popup-box.css" rel="stylesheet" type="text/css" media="all" />
      <!-- //pop-ups-->
      <!--popup-box-->
      <link href="/public/css2/owl.carousel.css" rel="stylesheet">
      <!--clients-->
      <!--lightbox slider-->
      <link rel="stylesheet" href="/public/css2/lightbox.css">
      <!-- lightbox slider-->
      <!--stylesheets-->
      <link href="/public/css2/style.css" rel='stylesheet' type='text/css' media="all">
      <!--//stylesheets-->
      <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
   </head>
   <body>
      <div class="header-outs" id="home">
	  
         <div class="header-w3layouts">
           
 <div class="agileits_w3layouts_nav">
<div id="toggle_m_nav">
  <div id="m_nav_menu" class="m_nav">
    <div class="m_nav_ham" id="m_ham_1"></div>
    <div class="m_nav_ham" id="m_ham_2"></div>
    <div class="m_nav_ham" id="m_ham_3"></div>
  </div>
</div>

<!-- This is the general container and content that makes up the navbar itself
 -->

               </div>
			    <div class="container">
               <div class="banner_social">
                  <ul class="its_social_list">
                     <li><a href="#" class="le_facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a></li>
                     <li><a href="#" class="le_twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a></li>
                     <li><a href="#" class="le_dribble"><span class="fa fa-dribbble" aria-hidden="true"></span></a></li>
                     <li><a href="#" class="le_vimeo"><span class="fa fa-vimeo" aria-hidden="true"></span></a></li>
                  </ul>
               </div>
               <!-- /open/close -->
               <!-- /navigation section -->
            </div>
            <div class="clearfix"> </div>
         </div>
         <!-- Slideshow 4 -->
         <div class="slider">
            <div class="callbacks_container">
               <ul class="rslides" id="slider4">
                  <li>
                     <div class="slider-img">
                        <div class="container">
                           <div class="slider-info">
                              <h4>Hi, I am <h1 style="color:#2da1f8">Active Bias</h1>  </h4>
                              <p>I have been trained to classify users based on some behavioural factors and give you extensive analysis to provide your users with investment advice and loan option .
                              </p>

                              <a class="btn btn-primary" href="/login">Get Started</a>
                           </div>
                        </div>
                     </div>
                  </li>
                  
               </ul>
            </div>
            <div class="clearfix"> </div>
         </div>
         <!-- This is here just to demonstrate the callbacks -->
         <!-- <ul class="events">
            <li>Example 4 callback events</li>
            </ul>-->
      </div>
      <!-- //banner -->
     
      <!--//Gallery-->			 
      
      <!--//blog -->
      <!--testimonials-->
     
      <!-- //testimonials -->
      <!--matter-->
      
      <!-- //matter -->
      <!--contact -->
      
      <!--//contact -->
      <footer>
         <div class="container">
            <div class="agileits-contact-addrss">
               <div class="top-gap">
                  <div class="header-side">
                     <p> 
                        © Active Bias 
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </footer>

      <!--js working-->
      <script src='/public/js2/jquery-2.2.3.min.js'></script>
      <!--//js working-->
	  			<!--  light box js -->
		<script src="/public/js2/lightbox-plus-jquery.min.js"> </script> 
		<!-- //light box js--> 

      <!--responsiveslides banner-->
      <script src="/public/js2/responsiveslides.min.js"></script>
      <script>
         // You can also use "$(window).load(function() {"
         $(function () {
         	// Slideshow 4
         	$("#slider4").responsiveSlides({
         		auto: true,
         		pager:false,
         		nav:true,
         		speed: 900,
         		namespace: "callbacks",
         		before: function () {
         			$('.events').append("<li>before event fired.</li>");
         		},
         		after: function () {
         			$('.events').append("<li>after event fired.</li>");
         		}
         	});
         
         });
      </script>
      <!--// responsiveslides banner-->	  
	  
      <!-- testimonial-plugin -->
      <script src="/public/js2/owl.carousel.js"></script>
      <script>
         $(document).ready(function () {
         	$("#owl-demo").owlCarousel({
         		items: 1,
         		lazyLoad: true,
         		autoPlay: true,
         		navigation: true,
         		navigationText: true,
         		pagination: true,
         	});
         });
      </script>
      <!-- //testimonial-plugin -->

      <!--pop-up-box video-->
      <script src="/public/js2/jquery.magnific-popup.js"></script>
      <script>
         $(document).ready(function() {
         $('.popup-with-zoom-anim').magnificPopup({
         type: 'inline',
         fixedContentPos: false,
         fixedBgPos: true,
         overflowY: 'auto',
         closeBtnInside: true,
         preloader: false,
         midClick: true,
         removalDelay: 300,
         mainClass: 'my-mfp-zoom-in'
         });
         
         });
      </script>
      <!-- //pop-up-box video -->
	  
      <!-- start-smoth-scrolling -->
      <script src="/public/js2/move-top.js"></script>
	  	  	        <!-- menu -->
      <script src="/public/js2/main.js"></script>
      <!-- //menu -->
	  
      <!--bootstrap working-->
  <script src="/public/js2/bootstrap.min.js"></script>
      <!-- //bootstrap working-->
      <script src="/public/js2/easing.js"></script>
      <script>
         jQuery(document).ready(function ($) {
         	$(".scroll").click(function (event) {
         		event.preventDefault();
         		$('html,body').animate({
         			scrollTop: $(this.hash).offset().top
         		}, 1000);
         	});
         });
      </script>
      <!-- start-smoth-scrolling -->
      <!-- for-bottom-to-top smooth scrolling -->
      <script>
         $(document).ready(function () {
         	/*
         		var defaults = {
         		containerID: 'toTop', // fading element id
         		containerHoverID: 'toTopHover', // fading element hover id
         		scrollSpeed: 1200,
         		easingType: 'linear' 
         		};
         	*/
         	$().UItoTop({
         		easingType: 'easeOutQuart'
         	});
         });
      </script>
      <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
      <!-- //for-bottom-to-top smooth scrolling -->

   </body>
</html>