
<!DOCTYPE html>
<html lang="en">

    <% include ../partials/head %>

    <body class="o-page o-page--center">

            <!-- <video autoplay loop id="myVideo" muted plays-inline>
                    <source src="/public/img/bg-video.mp4" type="video/mp4">
            </video> -->

            
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <div class="o-page__card o-page__card--horizontal">

        <div class="fullscreen-bg">
                

                
        </div>
            
            <div class="c-card c-login-horizontal" id="content">
                <div class="c-login__content-wrapper">
                    <header class="c-login__header">
                        <a class="c-login__icon c-login__icon--rounded c-login__icon--left" href="#!">
                            <img src="/public/img/logo-login.svg" alt="Dashboard's Logo">
                        </a>

                        <h2 class="c-login__title">Sign In</h2>
                        <% if (message.error_msg) { %>
                            <div class="alert alert-danger">
                                <strong style="color: red">Oops! Something went wrong</strong>
                                    <p style="color: red"><%= message.error_msg %></p>
                            </div>
                        <% } %>    
                         <% if (message.success_msg) { %>
                            <div class="alert alert-success">
                                    <p><%= message.success_msg %></p>
                            </div>
                        <% } %>    
                         <% if (message.info_msg) { %>
                            <div class="alert alert-info">
                                    <p><%= message.info_msg %></p>
                            </div>
                        <% } %> 
                    </header>
                    
                    <form class="c-login__content" method="POST" action="/login">
                        <div class="c-field u-mb-small">
                            <label class="c-field__label" for="input1">Email Address</label> 
                            <input class="c-input" type="email" value="demo@activebias.com" id="input1" name="username" placeholder="clark@dashboard.com"> 
                        </div>

                        <div class="c-field u-mb-small">
                            <label class="c-field__label" for="input2">Password</label> 
                            <input class="c-input" type="password" value="demo"  name="password" id="input2" placeholder="Numbers, Letters..."> 
                        </div>

                        <button class="c-btn c-btn--success c-btn--fullwidth" type="submit">Sign in</button>

                        <span class="c-divider u-mv-small"></span>

                    </form>
                </div>

                <div class="c-login__content-image">
                    <img src="/public/img/login2.jpg" alt="Welcome to Dashboard UI Kit">

                    <h3>Welcome to Active Bias</h3>
                    <p class="u-text-large">A data Analytic interface for segmenting customers</p>
                </div>
            </div>
        </div>

        <script src="/public/js/main.min.js"></script>
    </body>
</html>