
<!DOCTYPE html>
<html lang="en">

    <% include ../partials/head %>


<body class="o-page o-page--center">
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <div class="o-page__card">
        <div class="c-card u-mb-xsmall">
            <header class="c-card__header u-pt-large">
                <a class="c-card__icon" href="#!">
                    <img src="/public/img/logo-login.svg" alt="Dashboard UI Kit">
                </a>
                <h1 class="u-h3 u-text-center u-mb-zero">Sign up to Get Started</h1>
                <% if (message.error_msg) { %>
                    <div class="alert alert-danger">
                        <strong style="color: red">Oops! Something went wrong</strong>
                            <p style="color: red"><%= message.error_msg %></p>
                    </div>
                <% } %>    
                 <% if (message.success_msg) { %>
                    <div class="alert alert-success">
                            <p style="color: green"><%= message.success_msg %></p>
                    </div>
                <% } %>    
                 <% if (message.info_msg) { %>
                    <div class="alert alert-info">
                            <p><%= message.info_msg %></p>
                    </div>
                <% } %>    
            </header>
            
            <form class="c-card__body" action="/register" method="post">

                <div class="c-field u-mb-small">
                    <label class="c-field__label" for="input1">Full Name</label> 
                    <input class="c-input" type="text" name="fullname" id="input1" placeholder=""> 
                </div>

                <div class="c-field u-mb-small">
                    <label class="c-field__label" for="input1">Username</label> 
                    <input class="c-input" type="text" name="username" id="input1" placeholder=""> 
                </div>


                <div class="c-field u-mb-small">
                    <label class="c-field__label" for="input1">E-mail address</label> 
                    <input class="c-input" type="email" id="input1" placeholder="clark@activebias.com" name="email" > 
                </div>

                <div class="c-field u-mb-small">
                    <label class="c-field__label" for="input2">Password</label> 
                    <input class="c-input" type="password" id="input2" placeholder="Numbers, Letters..." name="password"> 
                </div>

                <div class="c-field u-mb-small">
                    <label class="c-field__label" for="input3">Confirm Password</label> 
                    <input class="c-input" type="password" id="input3" placeholder="Confirm Password" name="cpass"> 
                </div>

                <button class="c-btn c-btn--info c-btn--fullwidth" type="submit">Sign Up</button>

                <span class="c-divider has-text c-divider--small u-mv-medium">Singup via social networks</span>

                <div class="o-line">
                    <a class="c-icon u-bg-twitter" href="#!">
                        <i class="fa fa-twitter"></i>
                    </a>

                    <a class="c-icon u-bg-facebook" href="#!">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a class="c-icon u-bg-pinterest" href="#!">
                        <i class="fa fa-pinterest"></i>
                    </a>

                    <a class="c-icon u-bg-dribbble" href="#!">
                        <i class="fa fa-dribbble"></i>
                    </a>
                </div>
            </form>
        </div>

        <div class="o-line">
            <a class="u-text-mute u-text-small" href="login.html" title="Login">
                <i class="fa fa-long-arrow-left u-mr-xsmall"></i> Already have an account, login instead
            </a>
        </div>
    
    </div>

    <script src="/public/js/main.min.js"></script>
</body>
</html>